{#
/**
 * @file
 * Default theme implementation to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 *
 * @ingroup themeable
 */
#}
<video autoplay muted loop id="background-video">
  <source src="../themes/custom/ecommerce/assets/video/header.mp4" type="video/mp4">
</video>
{% if content %}
  <div{{ attributes }}>
    {{ content }}
  </div>
{% endif %}
