@import "variables.pcss.css";

.path-frontpage {
  #block-ecommerce-theme-content{
    display: none;
  }
  main{
    .layout-content >div{
        display: flex;
        flex-wrap: wrap;

      .views-element-container {
        flex: 0 0 50%;
        box-sizing: border-box;
        padding: 10px;
      }
    }
    .views-row{
      position: relative;
      img{
        width: 100%;
        height: auto;
      }
      .views-field-title{
        position: absolute;
        top: 45%;
        right: 10%;
        font-size: 20px;
        line-height: 1;
        font-family: var(--font-family);
      }
      p{
        font-family: var(--font-family);
      }
    }
  }
}
