@import "variables.pcss.css";

header {
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: white;
  #background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  #block-ecommerce-theme-site-branding{
    position: absolute;
    top: 67vh;
    width: 100%;
    display: flex;
    justify-content: center;
    a{
      width: 100%;
      display: flex;
      justify-content: center;
      img{
        width: 90%;
      }
    }
  }
  .scrolled {
    position: fixed!important;
    width: 100%!important;
    a{
      width: auto!important;
    }
    #block-ecommerce-theme-site-branding{
      position: relative!important;
      top: 1rem!important;
      width: auto!important;
      a{
        width: auto!important;
      }
    }
  }
}

header > * {
  position: relative;
  z-index: 1;
}

header > div {
  position: fixed;
  top: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  #block-ecommerce-theme-headerleft{
    padding-left: 4rem;
    nav >ul{
      display: flex;
      margin: 0;
      padding: 0;
      li{
        margin-right: 1rem;
      }
    }
  }
  #block-ecommerce-theme-headerright{
    display: flex;
    align-items: center;
    padding-right: 4rem;
    .language-switcher-language-session{
      ul{
        margin: 0;
      }
    }
    #block-ecommerce-theme-cart{
    }
    nav >ul{
      margin: 0;
    }
  }
}
