body{
  background-color: var(--color-background);
  margin: 0;
  padding:0;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.path-frontpage main,.path-videos main{
    max-width: 90%;
    margin: 0 auto;
  }
