@import "variables.pcss.css";

.path-frontpage #block-ecommerce-theme-content{
    display: none;
  }

.path-frontpage main .layout-content >div{
        display: flex;
        flex-wrap: wrap;
    }

.path-frontpage main .layout-content >div .views-element-container {
        flex: 0 0 50%;
        box-sizing: border-box;
        padding: 10px;
      }

.path-frontpage main .views-row{
      position: relative;
    }

.path-frontpage main .views-row img{
        width: 100%;
        height: auto;
      }

.path-frontpage main .views-row .views-field-title{
        position: absolute;
        top: 45%;
        right: 10%;
        font-size: 20px;
        line-height: 1;
        font-family: var(--font-family);
      }

.path-frontpage main .views-row p{
        font-family: var(--font-family);
      }
