@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --color-principal: #541d5a;
  --color-secondary: #8f5086;
  --color-terciary: #eadcdc;
  --color-background: #eadcdc;
  --font-family: 'danzza', sans-serif;
}
